<?xml version="1.0"?>
<robot name="gantry_bot" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- <xacro:macro name="gantry_bot"> -->
    <xacro:include filename="$(find realsense2_description)/urdf/_l515.urdf.xacro" />

    <!-- Define robot constants -->
    <xacro:property name="arm_length" value="0.4"/>
    <xacro:property name="arm_width" value="0.08"/>
    <xacro:property name="arm_height" value="0.04"/>
    
    <xacro:property name="winch_diameter" value="0.05"/>
    <xacro:property name="winch_length" value="0.07"/>
    <xacro:property name="winch_z_offset" value="0.25"/>

    <xacro:property name="pillar_diameter" value="0.12"/>
    <xacro:property name="pillar_length" value="1"/>
    
    
    <!-- Robot Base -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 ${pillar_length/2}"/>
            <geometry>
                <cylinder radius="${pillar_diameter/2}" length="${pillar_length}"/>
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
    </link>


    

    <!-- Pulley Arms -->
    <xacro:macro name="pulley_arm" params="name rotation">
        <link name="${name}_link">
            <visual>
                <origin xyz="${arm_length/2} 0 ${arm_height/2}"/>
                <geometry>
                    <box size="${arm_length} ${arm_width} ${arm_height}"/>
                </geometry>
                <material name="Gray">
                    <color rgba="0.5 0.5 0.5 1.0"/>
                </material>
            </visual>
            <visual>
                <origin xyz="${arm_length - winch_diameter/2} 0 ${-winch_z_offset}" rpy="${pi/2} 0 0"/>
                <geometry>
                    <cylinder radius="${winch_diameter/2}" length="${winch_length}"/>
                </geometry>
                <material name="Gray">
                    <color rgba="0.5 0.5 0.5 1.0"/>
                </material>
            </visual>
        </link>
        <joint name="${name}_joint" type="fixed">
            <parent link="base_link" />
            <child link="${name}_link" />
            <origin xyz="0 0 0" rpy="0 0 ${rotation}"/>
        </joint>

        
        <link name="${name}_pulley_link"/>
        <!-- <joint name="${name}_pulley_joint" type="continuous"> -->
        <joint name="${name}_pulley_joint" type="fixed">
            <parent link="${name}_link" />
            <child link="${name}_pulley_link" />
            <origin xyz="${arm_length} 0 -${winch_z_offset}" rpy="0 0 0"/>
            <!-- <axis xyz="0 1 0"/> -->
        </joint>
    </xacro:macro>

    <xacro:pulley_arm name="pulley_arm_1" rotation="0" />
    <xacro:pulley_arm name="pulley_arm_2" rotation="${2*pi/3}" />
    <xacro:pulley_arm name="pulley_arm_3" rotation="${4*pi/3}" />
    
    <xacro:sensor_l515 parent="base_link" name="camera_front">
        <origin xyz="-0.65 0 -0.01" rpy="0 ${pi/2} ${pi}"/>
    </xacro:sensor_l515>
    <xacro:sensor_l515 parent="base_link" name="camera_back">
        <origin xyz="0.65 0 -0.01" rpy="0 ${pi/2} ${pi}"/>
    </xacro:sensor_l515>

    <link name="front_cam_link"/>
    <joint name="front_cam_identity" type="fixed">
        <parent link="camera_link"/>
        <child link="front_cam_link"/>
    </joint>

    <!-- <xacro:sensor_l515 parent="base_link">
        <origin xyz="-1 0 -0.03" rpy="0 ${pi/2} ${pi}"/>
    </xacro:sensor_l515> -->
    <!-- </xacro:macro> -->
</robot>